body {
    background: black;
    background-image:  url(../images/hero.jpg);
    background-repeat: repeat;
    background-size: 190%;
    color: aliceblue;
  }
.container{
    max-width: 990px;
    margin: auto;
}

.btn{
    margin: 5px;
}
img{
  
    margin: 10px;
    border: 10px solid rgba(85, 255, 122, 0.555);
}
#gifs-appear-here{
    width: 100%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }